<h2>エンドユーザーライセンス契約</h2>
<p>このアプリとそのコンテンツをまとめて「アプリ」と呼びます。このアプリはZound Industries International AB（以下「Zound Industries」）が運用しています。このエンドユーザーライセンス契約（以下「契約」）およびその更新や変更は、アプリに関するお客様とZound Industries間の完全合意を構成するものとします。</p>
<h2>契約</h2>
<p>アプリを使用する前に、この契約書をお読みください。このアプリを使用することにより、お客様は以下の条件を受け入れ、この契約に拘束されることに同意したものと見なされます。</p>
<p>この契約は随時変更される可能性があります。変更後もアプリを使い続けることにより、お客様はそれらの変更をすべて許諾したものと見なされます。変更はすべて参照によって、この契約書に盛り込まれます。同意しない場合は、アプリを使用しないでください。</p>
<p>お客様は契約に同意することにより、18歳以上であることを誓約します。18歳未満でも、13歳以上であれば、保護者か法定後見人が契約書に拘束されることに同意した場合に限り、このアプリを使用できます。これらの要件を満たしていない場合は、このアプリを使用できません。</p>
<p>契約に同意することにより、お客様はさらに以下のことを表明し、保証するものとします。(i) 米国政府が輸出入禁止国または「テロ支援」国家と指定した国に住んでいないこと、(ii) 米国政府の取引禁止/制限対象者リストに掲載されていないこと。</p>
<p>アプリ内のソフトウェアに別のエンドユーザーライセンス契約がある場合は、この契約の条件に加えて、そのエンドユーザーライセンス契約も適用されます。</p>
<p>この契約はZound Industriesとお客様との間で結ばれ、Zound Industriesはアプリとそのコンテンツについて全責任を負います。この契約は、お客様に関連するサードパーティの法的義務や賠償責任を定めるものではありません。お客様は、この契約の条件に従って、アプリ自体またはアプリの所有や使用に関連する申し立てに対応する責任は、サードパーティではなくZound Industriesのみにあることを、本契約により承諾するものとします。これには、(a) 製品の損害賠償請求、(b) アプリが適用法令の要件に適合していないという申し立て、(c) 消費者保護法または類似の法律に従って生起する申し立てなどが含まれますが、この限りではありません。</p>
<p>アプリまたはエンドユーザーによるアプリの所有および使用が知的財産権を侵害しているとサードパーティが申し立てた場合、かかる知的財産侵害の申し立ての調査、弁護、調停、免責については、サードパーティではなく、Zound Industriesが全責任を負います。</p>
<h2>個人データ</h2>
<p>もしお客様がお客様の機器に関するアップデート情報を受信するためにZound Insdustriesに登録することを選択された場合、お客様はZound Industriesに特定の個人データ（例えば、お客様の電子メールアドレスなど）を提供しなければなりません。このような個人データを提供することでお客様は、Zound Industriesがお客様から提供された個人データをZound Industriesが定める、製品アップデートのためのプライバシーポリシー、に則って処理することに同意するものとみなします。プライバシーポリシーは随時アップデートされます。</p>
<h2>著作権、ライセンスの付与</h2>
<p>アプリとそのコンテンツ（ソフトウェア、ソースコード、スクリプト、テキスト、アートワーク、写真、画像、アニメーション、デザインなど）はすべて、国内および海外の著作権法や条約で保護されています。アプリに対する権利と所有権はすべて、Zound Industriesが所有しているか、サードパーティサービス供給者（子会社を含む）またはサードパーティ権利者（以下「サードパーティ」）によってZound Industriesにライセンス許諾されています。Zound Industriesは、この契約に従って、互換性のある製品 （以下「デバイス」）に接続して個人が非営利目的でのみこのアプリを使用する限定的かつ非排他的ライセンスをお客様に許諾します。</p>
<p>アプリまたはその一部の権利、所有権、利権などはお客様に移転も譲渡もされません。これは限定的かつ非排他的ライセンスで、以下の制約を受けます。（a）アプリまたその一部のコピー、複製、発行、転送、配信、実行、表示、投稿、変更、派生物作成、販売、ライセンス供与や、その他の悪用は禁じられています。（b）競争目的または営利目的でのアプリへのアクセスや使用、アプリまたはそのコンテンツの変更や派生利用は禁じられています。（c） アプリまたはその一部の「フレーム」、「ミラーリング」、他のサービス（ウェブサイトやアプリなど）への組み込みは禁じられています。（d）アプリ、その一部、またはリンクされているメカニズムの機能や保護の迂回、変更、阻止、回避は禁じられています。（d）アプリまたはそのコンテンツを意図された目的およびこの契約で明示的に許可している目的以外に使用することは禁じられています。</p>
<p>この契約に違反した場合は、アプリをアンインストールし、すべての使用を中止する必要があります。Zound Industriesおよびサードパーティは、法律および衡平法により、アプリの機能停止を含め、あらゆる救済措置を求める権利を留保します。この契約が一部でも無効、違法、履行不能になった場合、その条項はこの契約の意図を維持すべく最大限の範囲で行使され、その他の部分は効力が存続するものとします。</p>
<h2>著作権で保護された資料を含むアプリの使用</h2>
<p>アプリは、お客様やサードパーティがデバイスとサードパーティのサービスを使用して作成したコンテンツにアクセスするために使用できます。そのようなコンテンツは著作権や他の知的財産法や契約で保護されている可能性があります。お客様は、そうしたコンテンツに適用される法律や契約に従ってのみアプリを使用できます。また、アプリを介してアクセス、使用されるコンテンツの著作権を保護するために、Zound Industriesとサードパーティが適切な手段を講じる可能性があることを認め、これに同意するものとします。</p>
<h2>サードパーティのサービスとインターネット接続</h2>
<p>サードパーティのサービスの可用性およびこのアプリとの互換性は、各サードパーティの合意を条件とするため、お客様は、サードパーティのサービスの可用性についてはお客様とそのサードパーティの間で別途契約が必要になる場合があることを認め、これに同意するものとします。Zound Industriesはそのようなサービスの可用性や、それに従って支払われる料金については責任を負いません。</p>
<p>サードパーティのソフトウェアやサービスにアクセスして使用する時に提供する個人情報に関するプライバシーポリシーについては、該当するサードパーティにお問い合わせください。Zound Industriesはサードパーティによる個人情報の取り扱いには責任を負いません。</p>
<p>お客様は、アプリやサードパーティのサービスにアクセスするにはインターネット接続が必要であること、その全責任はお客様にあることを認め、これに同意するものとします。</p>
<p>アプリの使用とサードパーティサービスへのアクセスには、地域的な制約、インターネット接続とサービスの性能、帯域幅、技術によって制限される可能性があります。Zound Industriesは、そのようなインターネット接続の提供、品質、セキュリティには責任を負いません。</p>
<h2>サードパーティのプラットフォームプロバイダーとアプリケーションストア</h2>
<p>このアプリは特定のデバイスやオペレーティングシステムと互換性を保つように設計されていますが、それらの供給元であるサードパーティプラットフォームプロバイダーは、Zound Industriesの契約条件に追加条項を含めるように義務づけています。これらは、この契約書の最後に「サードパーティプラットフォームプロバイダーによる追加条件」として記載されています。</p>
<p>サードパーティのアプリケーションストアは、該当するサードパーティプラットフォームプロバイダーまたはその関係会社によって運営されています。お客様は、アプリをダウンロードしたサードパーティアプリケーションストアに適用されるサービス利用規約とポリシーのすべてに従う必要があります。Zound Industriesはこれらのストアや、そこで提供されている製品（このアプリを除く）に責任を負わず、継続的な入手可能性も保証しません。</p>
<h2>オープンソースコード</h2>
<p>このアプリには、オープンソースソフトウェアと呼ばれるコードが含まれている場合があります。オープンソースソフトウェアは、そのソフトウェアのソースコードの無料配布や変更を許可する条件や、要請に応じてソースコードを誰でも利用できるようにすることを配布者に義務づける条件など、様々なオープンソースライセンス条件の下で配布され、配布者による寄与や修正も含みます（総称して「オープンソースソフトウェア」）。このアプリにオープンソースソフトウェアが含まれている場合は、その要素のみ、この契約条件ではなく、該当するサードパーティライセンサーのライセンス条件（オープンソースライセンス条件）に従ってライセンス許諾され、お客様はそのオープンソースライセンス条件に拘束されるという点にご注意ください。このアプリで使用されているオープンソースソフトウェアに適用されるオープンソースライセンス条件のには、アプリからアクセスすることができます。ご要望に応じて、アプリに含まれているオープンソースソフトウェアのソースコードと、そのオープンソースライセンス条件のコピーを提供いたします。</p>
<h2>アップデート</h2>
<p>お客様は、Zound Industriesとサードパーティがアプリまたはデバイスの更新にあたり、アプリやデバイスの機能やその他の要素が削除されたり変更されたりする可能性があることを認め、これに同意するものとします。これには、お客様が依存している機能や、アプリまたはデバイスに保存したデータやユーザー設定も含みます。お客様は、更新のインストールまたは受け入れ時に、Zound Industriesとサードパーティがアプリやサービスの継続使用に条件を設ける可能性があることを認め、これに同意するものとします。この契約の目的上、更新はすべてアプリの一部を構成すると見なされます。</p>
<p>お客様は、サードパーティにはアプリに関連する保守やサポートサービスを提供する義務が一切ないことを本契約により承諾するものとします。</p>
<h2>輸出とその他の規制</h2>
<p>お客様は、居住している地域や国に適用される輸出および再輸出の規制に加えて、Zound Industriesとサードパーティの規制にも従うこと、制限や規制に違反して、アプリやそのコンテンツまたはデバイスを禁輸国に出荷、流用、積替え、転送、輸出、再輸出したり、それを許可したりしないことに同意する必要があります。</p>
<p>上記の例として、米国商務省の輸出管理局、米国財務省の外国資産管理局、その他の該当する政府機関が司る輸出管理法、輸出制限、輸出規制で禁止されている国に、アプリやデバイスを出荷、輸出、再輸出したり、禁止されている方法で使用したりできません。</p>
<h2>衡平法上の救済</h2>
<p>お客様によるこの契約の違反や不履行によって、損害賠償金では不十分な取り返しのつかない損失をZound Industriesやサードパーティにもたらす可能性があることを認め、その状況で当事者が必要または適切と考える場合は、Zound Industriesとサードパーティが差し止めまたは衡平法による救済を受けることに同意するものとします。また、お客様がこの契約に違反している、または違反する意図があるとZound Industriesとサードパーティが独自に判断した場合は、契約違反の回避／この契約の行使、あるいはその両方の目的で、お客様のアプリの使用を即時終了するなど、法的および技術的な救済手段を講じる可能性もあります。このような救済措置は、Zound Industriesとサードパーティが法律上、衡平法上、契約上得られるその他の救済手段に追加されるものです。</p>
<h2>第三者受益者</h2>
<p>各サードパーティはこの契約で明示的に意図された第三者受益者であり、当事者が有する権利に関連する各条項を行使する権利があります。</p>
<h2>アプリまたはサードパーティのソフトウェアとサービスの無保証</h2>
<p>アプリおよびサードパーティのソフトウェアとサービスは、お客様自身のリスクで使用するものとし、その使用は自己責任となります。アプリおよびサードパーティのソフトウェアとサービスは、一切の保証、義務、条件なしに「現状のまま」提供されます。</p>
<p>Zound Industriesとサードパーティ各社は、アプリまたはアプリからアクセス可能なサードパーティのソフトウェアおよびサービスの商品性、非侵害性、特定目的に対する適合性の保証を含め、明示黙示を問わず、一切の保証、義務、条件を否認します。Zound Industriesとサードパーティは、このアプリ、サードパーティのソフトウェアおよびサービス、またはその機能が、お客様の必要条件を満たしていること、更新されること、正確でエラーがないこと、欠陥が修正されること、他のソフトウェアやハードウェアまたはデータを破損させないことを保証したり、条件としたり、表明したりすることはありません。さらに、Zound Industriesとサードパーティは、このアプリから利用可能なサービスが廃止されないこと、このアプリとの互換性がなくなった結果サードパーティサービスの供給が終了しないこと、サービスが中断や変更なしに動作することを保証したり、条件としたり、表明したりすることもありません。</p>
<p>Zound Industries、サードパーティ、またはその正当な代表者が提供する口頭または書面による情報や通知によって、保証、義務、条件を作成したり、この保証の範囲を広げたりすることはできません。</p>
<p>ただし、法域によっては黙示保証の除外を認めていない場合があり、上記の除外規定がお客様に適用されないことがあります。</p>
<h2>責任の制限</h2>
<p>Zound Industriesとサードパーティは、利益の損失、収益の損失、データの損失や、アプリ、アプリからアクセス可能なソフトウェアやサービス、関連付けたハードウェアなどの使用不能から生じた損害、ダウンタイム、ユーザーの時間も含め、アプリおよびアプリからアクセス可能なソフトウェアやサービスに関連する付随的または結果的損害に対しては、明示保証または黙示保証の違反、契約違反、過失、厳格責任、根拠となるその他の法的理論の如何に関わらず、たとえ損害の可能性について通知されていた場合でも、適用法で認められる最大限まで、責任を負わないものとします。</p>
<p>法域によっては派生的な損害の除外や制限を認めていない場合があり、上記の除外や制限がお客様に適用されない可能性があります。</p>
<h2>準拠法と管轄</h2>
<p>この契約には、法律条項の抵触に関わらずスウェーデンの法律が適用されます。この契約から生じたお客様とZound Industries間の紛争は、スウェーデン、ストックホルムの地方裁判所が専属的裁判管轄権を有するため、当事者は同裁判所の管轄権と裁判地に同意するものとします。</p>
<h2>連絡先情報</h2>
<p>Zound Industries International AB, Centralplan 15, 111 20 Stockholm, Sweden</p>
<p>アプリまたは本契約について質問や懸念事項がある場合は、下記をクリックし、説明に従ってZound Industriesまでご連絡ください。https://www.marshallheadphones.com/marshall-bluetooth-app-support</p>
<p>本契約の最終更新日：2018年7月19日</p>
<p>__________</p>
<h2>サードパーティプラットフォームプロバイダーによる追加条件</h2>
<p>APPLE：</p>
<p>ダウンロード、アクセス、使用するアプリがAppleのiOSオペレーティングシステムで実行する場合：</p>
<p>• お客様が所有または管理しているデバイスでAppleのiOSオペレーティングシステムを実行し、Apple Storeのサービス利用規約で公開されているAppleの使用規定に従う場合にのみアプリにアクセスして使用できます。</p>
<p>• お客様は以下を認め、これに同意するものとします。</p>
<p>o Appleは、アプリに関連するサポートや保守サービスを提供する義務を負いません。アプリの保守やサポートに関するご質問は、上記の連絡先情報を使用して、AppleではなくZound Industriesにお問い合わせください。</p>
<p>o この契約で明示的に規定している場合を除いて、アプリの所有または使用に関連する申し立ては、（お客様または他者とAppleとの間ではなく）、お客様とZound Industriesの間で処理されます。</p>
<p>o 第三者が（これらの契約条件に従って）お客様によるアプリの所有または使用が知的財産権を侵害していると申し立てた場合、Appleはその申し立てに関してお客様に責任や義務を負わないものとします。</p>
<p>o これらの契約条件は、（Appleではなく）、お客様とZound Industriesとの間で締結されますが、Appleは本契約の第三者受益者として、お客様に対して契約条件を履行する権利を有します。</p>
<p>• お客様は以下を表明し、保証します。</p>
<p>o 米国政府の禁輸対象国または米国政府が「テロ支援国家」と指定した国に現在も今後も居住しないこと。</p>
<p>o 米国政府の禁止または規制対象者リストに掲載されていないこと。</p>
<p>• 適用される保証にアプリが適合していない場合は、Appleに通知すると、アプリの購入金額が返金されます。それを条件として、法律で認められる最大限まで、Appleはアプリに関連する保証、条件、条項の提供や交渉はせず、お客様または他者がアプリを使用、またはそのコンテンツに依存した結果生じた申し立て、損失、コスト、経費については、アプリとの関連にかかわらず一切責任を負わないものとします。</p>
