<h2>用户协议和隐私政策</h2>
<p>该应用程序及其内容以下简称“应用程序”。该应用程序由 Zound Industries International AB（以下简称“Zound Industries”）运营。本《用户许可协议》（以下简称“用户协议”），包括任何更新或更改，构成了您与 Zound Industries 关于该应用程序的全部协议。</p>
<h2>协议</h2>
<p>请在使用该应用程序前阅读本协议。通过使用该应用程序，您既被视为接受这些条款，并同意受该协议约束。</p>
<p>本协议可以随时进行修改，如果您在此类修改后继续使用该应用程序，则您将被视为继续接受任何以及所有此类修改。所有修改均通过本应用并入本协议。如果您不接受，您不可使用该应用程序。</p>
<p>通过接受本协议，您即证明您已经年满 18 岁。如果您未满 18 岁，但是至少年满 13 岁，您必须在同意受本协议约束的父母或法定监护人的批准下，接受并使用本应用程序。如果您未能满足这些要求，您不得使用本应用程序。</p>
<p>通过接受本协议，您还声明和保证 (i) 您没有处于美国政府禁运，或被美国政府指定为“支持恐怖分子的”国家内；而且 (ii) 您没有被美国政府列入任何禁止或受限人名单内。</p>
<p>如果该应用程序中的任何软件有单独的用户许可协议，则该软件除了遵守本协议的条款外，还需遵守此类软件的单独用户许可协议。</p>
<p>本协议为 Zound Industries 与您之间的协议，而 Zound Industries 仅对应用程序及其内容负责。本协议不构成任何与您有关的第三方的法律义务或责任。您特此确认，根据本协议条款，Zound Industries（而非任何第三方）仅负责解决任何与应用程序或您对应用程序的占有和/或使用相关的索赔，包括但不限于：(a) 产品责任索赔；(b) 因该应用程序未能遵守任何适用法律或法规要求而引起的任何索赔；或 (c) 在消费者保护或类似立法下产生的索赔。</p>
<p>如果有任何第三方声称该应用程序或用户对该应用程序的占有或使用侵犯了该第三方的知识产权，Zound Industries，而非任何第三方，将全权负责调查、解决和免除任何此类知识产权侵犯索赔。</p>
<h2>隐私政策</h2>
<p>如果您选择在 Zound Industries 注册以获取有关您的设备更新的信息，您需要向 Zound Industries 提供某些个人数据（即您的电子邮件地址、蓝牙功能、GPS定位功能等）。如果您提供此类个人数据，表明您接受 Zound Industries 可根据 Zound Industries 适用的产品更新隐私政策中规定的内容处理该数据，该产品更新不时有效。</p>
<h2>版权；许可的授予</h2>
<p>该应用程序及其全部内容，包括但不限于其软件、源代码、脚本、文本、插图、照片、图片、动画和设计均受国家和国际版权法律和条约保护。该应用程序的所有权利和所有权属于 Zound Industries 或由第三方权利持有人或任何第三方服务提供者，包括其下属公司（以下简称“第三方”）授权给 Zound Industries。根据本协议，Zound Industries 向您授予有限、非独占性许可，允许您仅在兼容的产品（以下简称“设备”）上，仅为您的个人、非商业性目的而使用该应用程序。</p>
<p>该应用程序或其任何部分的权利、所有权或利益都不会转让或转移给您。这是个有限的、非独占性许可，受以下限制约束：(a) 您不得复印、复制、散布、传送、执行、展示、发布、修改、出售或以任何其他方式利用该应用程序或其任何部分，或用该应用程序或其任何部分创建衍生作品；(b) 您不得为任何竞争或商业目的而访问或使用该应用程序，也不得修改或以其他任何方式对该应用程序或其内容进行衍生使用；(c) 您不得以“框架”、“镜像”或任何其他方式将该应用程序的任何部分并入任何其他服务，包括但不限于任何网站或应用程序；(d) 您不得绕开、修改、破坏或回避该应用程序，或者其任意部分，或任何与其相关联的机制的任何功能或保护；且 (e) 您仅能将该应用程序或其任何内容用于其预期目的和本协议中明确允许的目的。</p>
<p>如果出现违反本协议的情况，您必须卸载并停止使用该应用程序。Zound Industries 以及任何第三方都有权寻求可利用且合法公正的补救措施，包括但不限于停止该应用程序的功能。如果本协议的任何部分被判无效、违法或无法执行，该条款应在允许的最大程度上执行，以保持本协议的目的，而其他部分将保持完全有效。</p>
<h2>拥有受版权保护材料的应用程序的使用</h2>
<p>您可以借助该应用程序来通过设备或第三方服务访问由您和/或第三方创建的内容。此类内容可能受到版权、其他知识产权法和/或协议的保护。您同意仅在遵守适用于此类内容的法律和协议的情况下使用该应用程序。您确认并同意 Zound Industries 和任何第三方均可采取适当措施来保护通过应用程序而访问和使用的内容之版权。</p>
<h2>第三方服务和互联网连接</h2>
<p>您确认并同意第三方服务的可用性，以及该应用程序对第三方服务的兼容性均受到自第三方同意的约束，而且此类第三方服务的可用性可能需要您与此类第三方之间达成单独协议。Zound Industries 不对此类服务的可用性或任何为此类服务而支付的费用负责。</p>
<p>当您使用或访问此类第三方的软件或服务时，请联系适用第三方获取与您的个人数据相关的隐私政策。Zound Industries 不对此类第三方对任何个人数据的使用负责。</p>
<p>您确认并同意对应用程序和第三方服务的访问需要网络连接，而网络连接由您全权负责。</p>
<p>对该应用程序的使用和对第三方服务的访问可能会区域限制和/或根据您的网络连接和服务的能力、带宽或技术限制而有限或受限。Zound Industries 不对此类互联网连接的提供、质量和安全负任何责任。</p>
<h2>第三方平台提供商和应用程序商店</h2>
<p>某些第三方平台提供商的设备和/操作系统被该应用程序指定为兼容设备和/或操作系统，这些提供商责成 Zound Industries 在这些条款中包含某些附加条款。它们都列在这些条款后的第三方平台提供商附加条款中。这些条款来自相关第三方平台提供商，而非由 Zound Industries 提供。</p>
<p>第三方应用程序商店由相关第三方平台提供商和/或其附属公司运营。您必须遵守所有您下载该应用程序的任何此类第三方应用程序商店的所有适用服务条款、规则和政策。Zound Industries 不对这些商店或它们提供的任何东西（该应用程序除外）负责，且不保证它们将持续可用。</p>
<h2>开放源代码</h2>
<p>俗称开源软件的软件可能包含代码，这些代码根据众多开源许可条款的任何已知变体进行分发。在这些条款中，包括允许自由分发和修改相关软件的开源代码和/或要求所有分发者根据请求无偿提供此类开源代码，包括这些分发者做出的所有分发和修改（统称“开源软件”）。请注意，以该应用程序包含开源软件为限，该项仅根据适用第三方许可方的相关许可条款（“开源许可条款”）许可予您，而非依据这些条款，且您接受和同意受此类开源许可条款的约束。可以通过应用程序访问所使用的开源软件的声明以及适用于开源软件的开源软件许可条款。根据您的要求，我们将为您提供任何应用程序中包含的任何开源软件的源代码以及相关的开源许可条款。</p>
<h2>更新</h2>
<p>您确认并同意 Zound Industries 和第三方在更新该应用程序或设备时，可以删除或更改该应用程序或设备的功能或其他方面，包括但不限于您可能会依赖的功能，或应用程序中或设备上任何您已保存的数据或预设。您确认并同意 Zound Industries 和第三方可能会在您安装或接收此类更新或修改后规定该应用程序或任何服务的继续使用条款。出于本协议的目的，任何和所有更新都被视为，且应构成该应用程序的一部分。</p>
<p>您特此确认任何第三方均没有义务提供任何关于该应用程序的维护和支持服务。</p>
<h2>出口和其他规定</h2>
<p>您同意遵守您所居住区域或国家内的所有适用的出口和再出口限制和规定，以及 Zound Industries 和第三方的限制，且不会，或授权去将该应用程序或其内容，或设备运送、转移、转运、转让、出口或再出口，或授权将其转让至被禁止的国家，或以其他方式违反任何此类限制或规定。</p>
<p>作为上述内容的一个示例，该应用程序或设备不得在任何美国商务部的出口管理局、美国财政部的外国资产控制办公室或任何其他适用政府机构实行的出口控制法律、限制或法规禁止的国家内使用，也不得将该应用程序或设备运送、出口或再出口至任何此类国家，或以任何这些法律、限制或法规禁止的方式使用该应用程序或设备。</p>
<h2>衡平法上的补救措施</h2>
<p>您确认并同意任何您违反或未遵守本协议的情况都可能会对 Zound Industries 或第三方造成无法用金钱估量且不可挽回的伤害，而且您同意 Zound Industries 和第三方可以在其认为必要或适当的情况下获取任何禁令或平衡法上的补救措施。Zound Industries 和第三方也可能会采取任何法律和技术补救措施来防止违反和/或来执行本协议，包括但不限于立即终止您对该应用程序的使用（如果该方自行决定相信您正在违反或打算违反本协议）。这些补救措施构成对 Zound Industries 和第三方在法律上、平衡法上或根据合同规定的任何其他补救措施的补充。</p>
<h2>第三方受益人</h2>
<p>任意第三方都是本协议对该方所持权利的每个条款的明确预期第三方受益人，且其应有权执行这些条款，并应尊重该第三方所拥有的权利。</p>
<h2>不保证应用程序或第三方软件或服务</h2>
<p>您确认并同意您使用该应用程序和任何第三方软件和服务的风险由您自行承担，而且您对此类使用负责。该应用程序和任何第三方软件和服务都是按“原样”提供，不附带任何形式的保证、责任或条件。</p>
<p>ZOUND INDUSTRIES 和每个第三方均明确表示不承担任何明示或暗示的保证、责任或条件，包括但不限于适销性、不侵权和该应用程序或可以通过该应用程序访问的第三方软件和服务对特定用途的适用性。ZOUND INDUSTRIES 和第三方不保证或提出任何条件或声明表示该应用程序、第三方软件或服务，或其功能会满足您的要求、会进行更新、会是正确的或没有错误、所有缺陷都将得到纠正、不会损害任何其他软件、硬件或数据。ZOUND INDUSTRIES 和第三方还不保证或提出任何条件或声明表示通过该应用程序提供的服务不会被撤回，以及不会终止提供此类服务，导致该应用程序与此类第三方服务不兼容，或该应用程序会在不中断或修改的情况下运营。</p>
<p>ZOUND INDUSTRIES、任何第三方或其授权代表所提供的口头或书面信息或建议都不应导致保证、责任或条件，或以任何方式增加该保证的范围。</p>
<p>某些地区的法规不允许排除默示担保，则该情况下上述排除声明对您并不适用。</p>
<h2>责任范围</h2>
<p>在适用法律允许的最大范围内，ZOUND INDUSTRIES 和第三方应对因违反任何明示或默示的保证、违反合同、疏忽、严格责任或任何其他法律理论下与通过该应用程序访问的应用程序、软件或服务相关的任何偶然或附带损失概不负责，包括但不限于任何由利润损失、收入损失、数据损失、失去对可以通过该应用程序访问的应用程序、软件或服务的使用而造成的损失，或任何与硬件、故障时间和使用者时间相关的损失，即使他们当中有任何人已经被告知有可能会发生此类损失。</p>
<p>某些司法管辖区不允许排除或限制偶然或附带损失，则该情况下上述排除或限制声明对您并不适用。</p>
<h2>适用法律及司法管辖区</h2>
<p>本协议应受瑞典法律管辖，不管是否与法律的规定相冲突。因为在您与 Zound Industries 之间，任何因本协议产生的争议的唯一审判地点均应为瑞典斯德哥尔摩地方法院，而双方特此同意接受此类法院的场地和管辖。</p>
<h2>联系方式</h2>
<p>Zound Industries International AB, Centralplan 15, 111 20 Stockholm, Sweden</p>
<p>如果您有任何关于该应用程序或本协议的疑问或问题并想要联系 Zound Industries，请单击此次并按照说明操作：https://www.marshallheadphones.com/marshall-bluetooth-app-support</p>
<p>本协议最后一次更新时间：2018 年 7 月 19 日。</p>
<p>__________</p>
<h2>第三方平台提供商的附加条款</h2>
<p>APPLE：</p>
<p>如果您下载、访问和/或使用的应用程序是在 Apple 的 iOS 操作系统上运行：</p>
<p>• 该应用程序只能在您拥有或控制，且使用 Apple 的 iOS 操作系统的设备上访问和使用，而且只能根据 Apple 在其 App Store 服务条款中发布的使用规则进行访问和使用。</p>
<p>• 您确认并同意：</p>
<p>o Apple 没有任何义务向该 iOS 应用程序提供任何支持或维护服务，而且如果您有关于该 iOS 应用程序的任何维护或支持问题，请使用上述联系方式联系 Zound Industries，而非 Apple；</p>
<p>o 除了这些条款中另有明确规定外，任何与拥有或使用该应用程序相关的索赔均在您和 Zound Industries 之间进行（而不是在您，或任何其他人与 Apple 之间进行）；</p>
<p>o 如果第三方声称您拥有或使用（根据这些条款）该应用程序侵犯了任何知识产权，Apple 不会就该索赔对您承担任何责任或义务；以及</p>
<p>o 虽然这些条款是在您与 Zound Industries（而不是 Apple）之间签订的，但根据本条款，Apple 作为第三方受益人将有权对您执行这些条款；</p>
<p>• 您声明并保证：</p>
<p>o 您不是，且将不会位于任何受制于美国政府禁令的国家内，或由美国政府指定为“支持恐怖分子”的国家内；而且</p>
<p>o 您没有在美国政府的禁止或限制方清单内；而且</p>
<p>• 如果该应用程序没有符合任何适用于其的保证，您可以通知 Apple，随后 Apple 会将购买该应用程序的买价（如果有）退还给您。根据该规定，在法律允许的最大范围内，Apple 不会就该应用程序提供或订立任何与应用相关的保证、条件或其他条款，也不会对您与该应用程序相关的任何索赔、损失、成本或任何性质的费用，或由于您或任何其他人使用该应用程序或依赖其任何内容而造成的结果负责。</p>
<p>特别说明：在中国，该《隐私政策与用户协议》的中文版与其他语言版本不一致的，以中文版为准。</p>
